extends default/info

block content
  |<strong>#{playerName}</strong> is playing <strong>#{cardName}</strong> card. The target is <strong>#{targetName}</strong>.
  | His or her guess was <strong>#{guessedCardName}</strong>.
