extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    input(type='text', value='test', name='room', id='room', placeholder='Name of the room')
    button(id='enter') Enter
  p(id='gamequeue')
  p
    button(id='start', style='display:none') Start the Game
  div(id='gameplay')

  script(src='/socket.io/socket.io.js')
  script(src='http://code.jquery.com/jquery-2.0.3.min.js')
  script(src='/js/frontend.js')
