extends layout

block content
    .page-header
        h1= title
    .lead
        #gamestart
            p.form-inline.input-group
                span.input-group-addon
                    |Room:
                input#room.form-control(type='text', value='test', name='room', placeholder='Name of the room')
                button.btn.btn-default(id='enter') Enter
                p#gamequeue
            p
                button.btn.btn-default(type='button', id='start', style='display:none') Start the Game

        #history
        #gameplay
        #target
        #guess

    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-2.0.3.min.js')
    script(src='/js/frontend.js')
    script(src='/js/bootstrap.min.js')
